* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    width: 100vw;
    height: 100vh;
    background-image: url(/img/projectimage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}


.header-content{
    margin-bottom: 15px;
    color: rgb(129, 41, 41); 
    
}


.header-content h1{
    font-size: 7vmin;
    margin-bottom: 30px;
    margin-top: 50px;
    
}

.header-content h2{
    font-size: 4vmin;
}



/* Paragraph styling
p {
    font-size: 1.5rem;
    margin-bottom: 30px;
   
} */

/* Button styling */
/* .menu-btn {

    background-color: rgb(129, 41, 41);;
    color: rgb(147, 110, 110);
    text-decoration: none;
    border-radius: 5px;
} */

.menu-btn{
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
    display: none;width: 30px;
}

.atn{
    padding: 8px 15px;
    border-radius: 30px;
    color:  white;
}

.btn{
    padding: 8px 15px;
    border-radius: 30px;
    color: white;
}

.ctn{
    padding: 8px 15px;
    border-radius: 30px;
    color: white;
}

.dtn{
    padding: 8px 15px;
    border-radius: 30px;
    background-color: rgb(129, 41, 41);
    color: white
}


.navlink a{
    color: white;
}

.navlink{
    display: flex;
    align-items: center;
}

/* 
.navlink{
    flex-direction: row;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background-color: rgb(129, 41, 41); 
    margin-top: -900px;
    transition: all 0.5s ease;

} */

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: white
}

.navlink li{
    margin: 0 30px;
    list-style-type: none;
}

.navlink li:hover {
    background-color: rgb(129, 41, 41);
    cursor: pointer;
    padding: 10px 20px;
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
}

@media (max-width: 768px) {
    .menu-btn {
        display: block;
    }
    
    h1 {
        font-size: 2rem;
    }
}

.mobile-menu{
    margin-top: 0;
    border-bottom-right-radius: 30%;
} 
